.locationList {
    /*background: red;*/
}

@media (max-width: 64em) {
    .locationList {
        /*background: green;*/
        max-height: 30vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}