.locationList {
    /*background: red;*/
    height: 85vh;
    overflow: auto;
}

@media (max-width: 64em) {
    .locationList {
        /*background: green;*/
        max-height: 40vh;
        /*overflow: auto;*/
        margin-bottom: 20px;
    }
}

.forecast-title {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}